img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

h2{
	font-family: "Lora";
	margin-left: 1.6%;
	/*text-transform: uppercase;*/
	padding-bottom: 20px;
	border-bottom: 2px solid #006994;
	width: 30%;
}